{{ nome | uppercase }} <br />
{{ datAtual | date: "MM/dd/yy" }} <br />
<!-- {{ somar() }} <br />
{{subtrair(12,5)}} <br /> -->

<hr />

<table>
  <tr>
    <td>Valor A:</td>
    <td><input type="number" [(ngModel)] = "valorA" /></td>
  </tr>
  <tr>
    <td>Valor B:</td>
    <td><input type="number" [(ngModel)] = "valorB" /></td>
  </tr>
  <tr>
    <td colspan="2">
      <button (click) = "somar()"> Somar</button> &nbsp;
      <button (click) = "subtrair()">Subtrair</button>
    </td>
  </tr>
  <tr>
    <td>Resultado:</td>
    <td>{{ resultado }}</td>
  </tr>
</table>